<div class="div" id="recipeframe">
    <div class="div" id="recipecontainer">
        <h1 class="rinfo col-8">SUBMITTED AT {{recipe.created_at}}</h1>
        <div class="title-cont">
            <h1 id="title">{{recipe.title}}</h1>
            <button class="btn" (click)="saveRecipe(recipe.id)" *ngIf="!recipe.is_saved"><i class="bi-bookmark icon"></i></button>
            <button class="btn" (click)="unsaveRecipe(recipe.id)" *ngIf="recipe.is_saved"><i class="bi-bookmark-fill icon"></i></button>
        </div>
        <div class="col-10 cook">
            <a aria-disabled="true">by {{recipe.created_by}}</a>
            <button *ngIf="authService.isLoggedIn() && !recipe.is_following" class="btn" (click)="followUser(recipe.created_by_id)">
                <span>follow</span>
            </button>
            <button *ngIf="authService.isLoggedIn() && recipe.is_following" class="btn" (click)="unfollowUser(recipe.created_by_id)">
                <span>following</span>
            </button>
            <button *ngIf="!authService.isLoggedIn()" class="btn" (click)="notFollowed()">follow</button>
        </div>
        <div class="row" id="rdetails">
            <p id="desc">{{recipe.description}}</p>
        </div>
        <div class="row" id="rimg">
            <img src="{{recipe.image}}" alt="recipe image" id="img">
        </div>
        <div class="row">
            <div class="div col-4 cookinginfo">
                <h1 class="h1 mtitle">Ingredients</h1>
                <ul *ngFor="let ing of ingredients">
                    <li class="mtext">{{ing}}</li>
                </ul>
            </div>
            <div class="div col cookinginfo">
                <h1 class="h1 mtitle">How to cook</h1>
                <p class="mtext">{{recipe.instructions}}</p>
            </div>
        </div>
    </div>
</div>