
#recipeframe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

#recipecontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 80%;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid black 1px;
}

.cook {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: Melodrama;
    font-size: 65px;
    font-weight: bold;
}

.rinfo {
    font-family: consolas;
    font-size: 15px;
    margin-left: 10px;
}

#rdetails {
    margin-top: 100px;
}

#rimg {
    margin-top: 30px;
}

.cook > p {
    font-family: stardom;
    font-weight: bold;
    text-decoration: yellow solid 2px;
    font-size: 20px;
    margin: 0;
}

.cook > button {
    height: 40px;
    width: 100px;
    background-color: orange;
    color: white;
}

div[class='col-10 cook'] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cook > a {
    font-family: stardom;
    font-weight: bold;
    text-decoration: underline yellow ;
    margin: 20px;
    color: black;
    font-size: 25px;
}

#desc {
    font-family: gambarino;
    font-size: 25px;
    margin-left: 10px;
    /* margin-top: 50px; */
}

#img {
    height: 400px;
    width: auto;

}

.cookinginfo {
    margin-top: 100px;
}

.mtitle {
    font-family: stardom;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}

.mtext {
    font-family: gambarino;
    font-size: 20px;
}
