body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
}

#signupform {
    height: max-content;
    width: 100%;
    background-image: url("../../../assets/images/pexels-ella-olsson-572949-1640777.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

form > h1 {
    font-family: stardom;
    font-size: 50px;
    align-self: flex-start;
    margin-bottom: 40px;
}

form {
    width: 50%;
    height: max-content;
    margin: 100px;
    padding: 40px;
    background-color: whitesmoke;
    align-self: flex-start;
}

input {
    height: 50px;
    width: 100%;
    font-family: zodiak;
    font-size: 22px;
    /* font-style: italic; */
    color: black;
}

label {
    font-family: satoshi;
    font-size: 23px;
    margin-top: 20px;
}

input[type="submit"] {
    font-family: Zodiak;
    font-style: normal;
    font-size: 20px;
    height: 60px;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 70px;
}

span {
    font-family: zodiak;
    font-size: 15px;
    font-style: italic;
}