<div class="userdetails">
    <div class="row" *ngIf="userProfile">
        <div class="col-6">
            <div class="div" id="user">
                <h1 id="username">{{userProfile.user.username}}</h1>
                <div class="row">
                    <div class="col">
                        <p class="follow">Following</p>
                        <p id="f_count">{{followingCount}}</p>
                    </div>
                    <div class="col">
                        <p class="follow">Followers</p>
                        <p id="f_count">{{followerCount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn"  (click)="savedRecipes()"><span>Saved Recipes</span><i class="bi-bookmark"></i></button>
        </div>
        <div class="col-3">
            <button class="btn" (click)="yourRecipes()"><span>Your Recipes</span><i class="bi-journal"></i></button>
        </div>
    </div>
</div>
<app-user-recipes *ngIf="isRecipeVisible"></app-user-recipes>
<app-saved-recipes *ngIf="isSavedRecipeVisible"></app-saved-recipes>