body {
    height: max-content;
    width: 100%;
    background-color: antiquewhite;
}

.recipe-container {
    margin: 40px;
}

.img {
    width: auto;
    height: auto;
}

.noimg {
    width: 20rem;
    height: 17rem;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gambarino;
    color: black;
}

.recipes {
    height: 53rem;
    overflow: hidden;
    width: 20rem;
    margin: 20px;
    padding: 10px;
}

.recipes > .card-body > .card-text {
    font-size: 20px;
    font-family: zodiak;
    margin-top: 20px;
}

.recipes > .card-body > .card-title {
    font-size: 40px;
    font-weight: bold;
    font-family: melodrama;
    text-decoration: none;
}

button[class="card-title btn"] {
    border: none;
    width: fit-content;
    height: max-content;
}

.recipes > .card-body > .card-title:hover {
    font-size: 40px;
    font-family: melodrama;
    font-weight: bold;
    text-decoration: underline yellow 5px;
}



.submittedby {
    font-size: 20px;
    font-family: gambarino;
    font-style: italic;
}

.tags > a {
    margin-top: 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: orange;
    font-family: satoshi;
    /* margin: 5px; */
    color: white;
}