<div class="row recipe-container">
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card recipes">
            <img src="../../../assets/images/pexels-janetrangdoan-1099680.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title">Cranberry Juice Mocktail</a>
                <p class="card-text">This cranberry juice mocktail is so easy and perfect for when you want a fancy
                    drink but aren't drinking alcohol. It's made with four simple ingredients but has a ton of flavor.
                </p>
                <p class="submittedby">submitted by asvvinbiju</p>
                <div class="tags">
                    <a href="#" class="btn btn-warning">BREAKFAST</a>
                    <a href="#" class="btn btn-warning">SWEET</a>
                    <a href="#" class="btn btn-warning">ITALIAN</a>
                </div>
            </div>
        </div>
    </div>
</div>