
<div *ngIf="recipes">    
    <div class="row recipe-container">
        <div class="col-3" *ngFor="let recipe of recipes">
            <div class="card recipes">
                <div *ngIf="recipe.image">
                    <img src="{{recipe.image}}" class="card-img-top .img" alt="...">
                </div>
                <div *ngIf="!recipe.image">
                    <div class="noimage">
                        <span>no image</span>
                    </div>
                </div>
                <div class="card-body">
                    <button class="card-title btn" (click)="viewRecipe(recipe.id)">{{recipe.title}}</button>
                    <p class="card-text">{{recipe.description}}</p>
                    <p class="submittedby">submitted by {{recipe.created_by}}</p>
                    <!-- <div class="tags">
                        <a href="#" class="btn btn-warning">BREAKFAST</a>
                        <a href="#" class="btn btn-warning">SWEET</a>
                        <a href="#" class="btn btn-warning">ITALIAN</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
