<header>
    <nav class="navbar navbar-light">
        <div class="container-fluid container_bar bg-light row">
            <div class="navbar-brand row col">
                <a class="col-1" href="login" *ngIf="!authService.isLoggedIn()">| Login</a>
                <a class="col-1" href="signup" *ngIf="!authService.isLoggedIn()">| Signup</a>
                <a class="col-1" href="myprofile" *ngIf="authService.isLoggedIn()">| My Profile</a>
                <a class="col-1" href="#" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">| Logout</a>
                <a class="col-1" (click)="onSubmitClick()">| Submit</a>
            </div>
            <div id="title_div" class="col">
                <a id="title" href="">Ruchikoot</a>
                <!-- <a id="title" href="">രുചികൂട്ട്</a> -->
            </div>
            <form class="d-flex align-items-center col">
                <input class="form-control me-2" type="search" placeholder="Search recipes" aria-label="Search">
                <button class="btn" type="submit"><i class="bi-search"></i></button>
            </form>
        </div>
        <!-- <div class="container-fluid bg-dark text-light">hi</div> -->
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="row">
        <div class="col-8">
            <p class="footer-text"><a href="" class="footer-a"><strong>Ruchikoot</strong></a> is a recipe sharing site where culinary enthusiasist can post recipes from anywhere on the web. Use it to
                discover a new favorite food blog—or figure out what's for dinner tonight.</p><br>
            <p class="footer-text">To save and share content, <a href="signup" class="footer-a"><strong>create a free account</strong></a> and start posting today.</p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row social">
        <div class="col-1"><a href="#"><i class="bi-twitter-x"></i></a></div>
        <div class="col-1"><a href="#"><i class="bi-instagram"></i></a></div>
        <div class="col-1"><a href="#"><i class="bi-facebook"></i></a></div>
    </div>
</footer>