<!-- <p>saved-recipes works!</p> -->
<div *ngIf="saved_recipes.length > 0" class="recipe-container">
    <div *ngFor="let recipe of saved_recipes">
        <div class="card row">
            <img *ngIf="recipe.image" class="rimg col" [src]="recipe.image" alt="{{ recipe.title }}" />
            <div class="div col card-details">
                <button class="btn card-title" (click)="viewRecipe(recipe.id)">{{ recipe.title }}</button>
                <p class="card-text">{{ recipe.description }}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="saved_recipes.length === 0">
    <p id="notsaved">You haven't saved any recipes.</p>
</div>